.header {
  height: 36vw;
  margin: 30px auto;
  background: url("/header_img.png") no-repeat;
  background-size: contain;
  position: relative;
}

.header-contents {
  max-width: 50%;
  position: absolute;
  bottom: 2vw;
  left: 5vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  backdrop-filter: 20px;
  background: #00000024;
  padding: 10px;
  border-radius: 5px;
  animation: fadeIn 2s forwards;
}

.header-contents h2 {
  font-size: max(4.6vw, 22px);
  color: #fff;
  font-weight: 500;
}

.header-contents p {
  color: #fff;
  line-height: 21px;
  letter-spacing: 1px;
}

.header-contents button {
  padding: 15px 30px;
  border-radius: 30px;
  border: none;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s;
}

.header-contents button:hover {
  background: #ccc;
}
